                  <h2 class="titulo">Filtrar</h2>
                    <div class="filter-servicos">
                        <h2>Serviços</h2>
                        <label>
                            <input type="checkbox" name="servico" value="faxina">
                            Faxina
                        </label>

                        <label>
                            <input type="checkbox" name="servico" value="jardinagem">
                            Jardinagem
                        </label>

                        <label>
                            <input type="checkbox" name="servico" value="baba">
                            Babá
                        </label>

                        <label>
                            <input type="checkbox" name="servico" value="encanador">
                            Encanador
                        </label>
                    </div>
                    <div class="filter-preco">
                        <h2>Preço</h2>
                        <div class="inputs-preco">
                            <div class="campo">
                                <label>Preço mínimo</label>
                                <input type="number" id="preco-min" class="text_box" placeholder="R$ 0">
                            </div>

                            <div class="campo">
                                <label>Preço máximo</label>
                                <input type="number" id="preco-max" class="text_box" placeholder="R$ 500"> 
                            </div> 
                        </div>
                    </div>
                    <div class="filter-regiao campo">
                        <h2>Região</h2>
                        <label for="cep">CEP:</label>
                        <input type="cep" id="cep" class="text_box">
                    </div>