/* RESET + TOKENS */
* { box-sizing: border-box; }
:root{
--cor-primaria: #4B3F72;
--cor-secundaria: #ffffff;
}

html{
font-family:'Roboto',system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica',Arial, sans-serif;
}

body{
    margin:0;
}

h1{
    color: var(--cor-primaria);
}

h2{
    color: var(--cor-primaria);
}

.header{
    background-color: var(--cor-primaria);
    padding: 10px 15px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.nav_right,
.nav_left{
    display:flex;
    flex-direction: row;
    padding: 0 35px;
}

.profile_image{
    border-radius: 100%;
}

.corpo{
    margin-top: 3rem;
}

.card{
    border-radius: 12px;
    background-color: var(--cor-secundaria);
    padding:40px;
    min-width: 300px;
    max-width: 600px;
}

.text_box{
    border-radius: 8px;
    height: 30px;
}

.button{
    text-align: center; 
    text-decoration:none;
}

.button:hover{
   filter: brightness(0.95);
}

.primary-button{
    border:none;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.secundary-button{
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
}

.acoes{
    display: flex;
    justify-content: center;
}

.introducao{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.centro{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imagem_index{
    width: 400px;
    height: auto;
    border-radius: 20px;
    border: 3px solid var(--cor-primaria);
}

.alerta{
    color: #ff8080;
    text-align: center;
}
.login_cadastro{
    text-align: center;
}

.footer{
    margin-top: 60px;
    padding: 40px 20px;
    background-color: var(--cor-primaria);
}
